{% extends 'home/base.html' %}

{% block title %} All Posts page {% endblock %}

{% block content %}
    {% for post in all_posts %}
        <p> {{ post.title }} by {{post.author }} </p>
        <p><a href = "{% url 'post-detail' post.id %}"> {{ post.content }} </a></p>
        <p> Tags: 
            {% for tag in post.tags.all %}
                <a href = " {% url 'tag-view-cbv' tag.name %} "> {{ tag }},  </a>
        {% endfor %}
        </p>
        <p>Posted in {{ post.category }}</p>
    </br>
        
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}