{% extends 'home/base.html' %}

{% block title %} Single post {% endblock %}

{% block content %}
    <p> {{ object.title }} by {{ object.author }}</p>
    
    
    {% if request.user == object.author %}
        <a href = "{% url 'post-update' object.id %}"> Update </a>
        <a href = "{% url 'post-delete' object.id %}"> Delete </a>
    {% endif %}
    
    <p> Tags: 
        {% for tag in post.tags.all %}
            <a href = " {% url 'tag-view-cbv' tag.name %} "> {{ tag }}  </a>
    {% endfor %}
    <p> {{ object.subtitle }} </p>
    <p> {{ object.content }} </p>
    <p>Posted {{ post.time_created_before }} in 
        <a href = " {% url 'cat-view-cbv' post.category %} "> {{ post.category }}  </a> 
    </p>
    <img class="rounded-circle account-img" src="{{ user.profile_image.url }}">
    <p> About the author </p>
    <p> {{ object.author_bio }} </p>

    
{% endblock %}