{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} About {% endblock %}

{% block content %}

<div class = "row">
    <div class = "col-sm-12">
        <span class="heading-meta">About</span>
        <h2 class="heading">Who Am I</h2>
    </div>
</div>
<div class = "container-fluid">
    <div class="row">
        <div class = "container-text">
            <p> 
                I'm a software engineer and enthusiast working on multiple areas like computer networking, software engineering,
                python programming, web development and much more.
                I write about software development on my blog. 
                Want to know how I may help your project? Check out my project portfolio and online resume. 
            </p>
        </div>
    </div>
</div>
<hr>
<div class = "row">
    <div class = "col-sm-12">
        <span class="heading-meta">Testimonials</span>
        <h2 class="heading">What people think</h2>
    </div>
</div>
<div class = "container-fluid">
    <div class="row service-row">
        <div class = "col-xl-3">
            <div class = "testimonials-box">
                <div class = "testimonials-desc">
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    </p>
                </div>
            </div>
        </div>
        <div class = "col-xl-3">
            <div class = "testimonials-box">
                <div class = "quote-desc">
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    </p>
                </div>
                <div class = "row quote">
                    <div class = "quote-from">
                        <img src = "http://localhost:8000/media/profile_images/index_KOgu7C3.png">
                    </div>
                    <div class = "quote-meta">
                        <p> Jordan Raychev<br>
                            CEO, Jordans Inc.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class = "col-xl-3">
            <div class = "testimonials-box">
                <div class = "quote-desc">
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    </p>
                </div>
                <div class = "row quote">
                    <div class = "quote-from">
                        <img src = "http://localhost:8000/media/profile_images/index_KOgu7C3.png">
                    </div>
                    <div class = "quote-meta">
                        <p> Jordan Raychev<br>
                            CEO, Jordans Inc.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}