{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} About {% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}


<div class = "row">
    <div class = "col-sm-12">
        <span class="heading-meta">About</span>
        <h2 class="heading">Who Am I</h2>
    </div>
</div>
<div class = "container-fluid">
    <div class="row">
        <div class = "container-text">
            <p> 
                I'm a software engineer and enthusiast working on multiple areas like computer networking, software engineering,
                python programming, web development and much more.
                I write about software development on my blog. 
                Want to know how I may help your project? Check out my project portfolio and online resume. 
            </p>
        </div>
    </div>
</div>
{% endblock %}