{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Blog {% endblock %}

{% block content %}

<div class = "row">
    <div class = "col-sm-12">
        <span class="heading-meta">Blog</span>
        <h2 class="heading">Recent articles</h2>
    </div>
</div>
<div class = "container-fluid">
    <div class = "row">
        <div class = "col-xl-11">
            <h3 class = "text-center">
                A Blog About Software Development And Life
            </h3>
            <p class = "text-center">
                Welcome to my blog. Subscribe and get my latest blog post in your inbox.
            </p>
            <!-- <button type="submit" class="btn btn-block btn-primary" style = "width: 120px; margin: auto; font-weight: bold;">Subscribe </button> -->
        </div>
    </div>
    <div class="row blog-row">
        <div class = "col-xl-4 blog-box">
            <a href = "/">
                <img src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg"/>
            </a>
            <div class = "blog-details">
                
                <div class = "blog-published"> Published on <span>22 Sep, 2021</span> </div>
                <a href = "/">
                    <div class = "blog-heading"> Blog post name </div>
                </a>
                <div class = "blog-desc"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                </div>
                <div class = "blog-read-more"> Read more <i class="bi bi-arrow-right"></i> </div>
            </div>
        </div>
        
        <div class = "col-xl-4 blog-box">
            <a href = "/">
                <img src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg"/>
            </a>
            <div class = "blog-details">
                
                <div class = "blog-published"> Published on <span>22 Sep, 2021</span> </div>
                <a href = "/">
                    <div class = "blog-heading"> Blog post name </div>
                </a>
                <div class = "blog-desc"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                </div>
                <div class = "blog-read-more"> Read more <i class="bi bi-arrow-right"></i> </div>
            </div>
        </div>
        <div class = "col-xl-4 blog-box">
            <a href = "/">
                <img src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg"/>
            </a>
            <div class = "blog-details">
                
                <div class = "blog-published"> Published on <span>22 Sep, 2021</span> </div>
                <a href = "/">
                    <div class = "blog-heading"> Blog post name </div>
                </a>
                <div class = "blog-desc"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                </div>
                <div class = "blog-read-more"> Read more <i class="bi bi-arrow-right"></i> </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}