{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Blog {% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}


<div class = "row">
    <div class = "col-sm-12">
        <span class="heading-meta">Blog</span>
        <h2 class="heading">Recent articles</h2>
    </div>
</div>
<div class = "container-fluid">
    <div class="row blog-row">
        <div class = "col-xl-4 blog-box">
            <img src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg"/>
            
            <div class = "blog-details">
                
                <div class = "blog-published"> Published on <span>22 Sep, 2021</span> </div>
                <div class = "blog-heading"> Blog post name </div>
                <div class = "blog-desc"> Blog post description </div>
                <div class = "blog-read-more"> Read more </div>
            </div>
        </div>
        
        <div class = "col-xl-4">
            <img src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg">
        </div>
        <div class = "col-xl-4">
            <img src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg">
        </div>
    </div>
</div>

{% endblock %}