{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Education {% endblock %}

{% block content %}

<div class = "row">
    <div class = "col-sm-12">
        <span class="heading-meta">Education</span>
        <h2 class="heading">Education</h2>
    </div>
</div>

<div class = "container-fluid timeline-container">
    {% for education in educations %}
    <div class="row">
        <div class="timeline-circle timeline-badge-{{ forloop.counter }} fadeInUp-{{ forloop.counter }}">
            <i class="timeline-icon fas fa-graduation-cap"></i>
        </div>
        <div class = "timeline-box fadeInRight-{{ forloop.counter }}">
            <h4> {{ education.degree_name }} <span> {{ education.degree_year }} </span></h4>
            <h3> {{ education.degree_field }} </h3>
            <p> 
                {{ education.degree_description }}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}