{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Experience {% endblock %}

{% block content %}

<div class = "row">
    <div class = "col-sm-12">
        <span class="heading-meta">Experience</span>
        <h2 class="heading">Work Experience</h2>
    </div>
</div>
<div class = "container-fluid timeline-container accordion">
    {% for experience in experiences %}
    <div class="row">
        <div class=" timeline-circle timeline-badge-{{ forloop.counter }} fadeInUp-{{ forloop.counter }}">
            <i class="timeline-icon fas fa-briefcase"></i>
        </div>
        <div class = "timeline-box experience fadeInRight-{{ forloop.counter }}">
            <h4 data-toggle="collapse" data-target="#collapse-{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse-{{ forloop.counter }}">
               {{ experience.experience_name }} <span> {{ experience.experience_year }} </span> <!-- 2020 - {% now "Y" %} -->
            </h4>
            <h3> {{ experience.experience_field }} </h3>
            <p id="collapse-{{ forloop.counter }}" class="collapse " aria-labelledby="headingOne">
                {{ experience.experience_description }}
            </p> 
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}