{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Services {% endblock %}

{% block content %}

<div class = "row">
    <div class = "col-sm-12">
        <span class="heading-meta">Services</span>
        <h2 class="heading">What I Do</h2>
    </div>
</div>
<div class = "container-fluid">
    <div class="row service-row">
        <div class = "col-xl-3">
            <div class = "service-box">
                <div class = "service-icon">
                    <i class="fas fa-project-diagram"></i>
                </div>
                <div class = "service-headline">
                    <p>IT consultancy</p>
                </div>
                <div class = "service-desc">
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    </p>
                </div>
            </div>
        </div>
        <div class = "col-xl-3">
            <div class = "service-box">
                <div class = "service-icon"> 
                </div>
                <div class = "service-headline text-center">
                    <p>Web development</p>
                </div>
                <div class = "service-desc">
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    </p>
                </div>
            </div>
        </div>
        <div class = "col-xl-3">
            <div class = "service-box">
                <div class = "service-icon"> 
                    
                </div>
                <div class = "service-headline text-center">
                    <p>Python tutoring</p>
                </div>
                <div class = "service-desc">
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}