{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

<div class = "row">
    <div class = "col-sm-12">
        <span class="heading-meta">Home</span>
        <h2 class="heading">Home, Sweet Home</h2>
    </div>
</div>
<div class = "container-fluid">
    <div class="row home-row">
        <div class = "container-text">
            <div class = "col-xl-9">
                <p> 
                    Hello stranger. Thank you for stopping by but currently this page is under development.
                    In the meantime checkout the links on the left to learn more about me and my line of work.
                </p>
                <img src = "{% static 'mascot/mascot-left.png' %}" width="300">
            </div>
        </div>
    </div>
</div>
{% endblock %}