<!-- Header section -->
<header class="border-bottom sticky-top bg-white">
    <div class="container justify-content-between pt-3 pb-3">
    <div class="row">
        <div class="col-md-6 brand">
        <a href="{% url 'all-posts' %}" class="navbar-brand">
            <strong>THE TECH</strong>
        </a>
        </div>
        <div class="col-md-6">
        <form>
            <input class="form-control form-control-search" type="search" placeholder="Live search..." aria-label="Search">
        </form>    
        </div>
    </div>
    </div>
</header>