{% extends 'posts/posts_base.html' %}

{% block title %} Tag View {% endblock %}

{% block content %}
<div class="d-flex flex-column mt-4">
    <div class="h3 font-weight-bold pb-2">Tag: {{ searched_tag }}</div>
    {% for post in posts_by_tag %}
    <div class="d-flex flex-row mt-4">
      <img class="img-fluid"
        style="height:150px;"
        src="{{ post.header_image.url }}">
      <div class="d-flex flex-column ml-4">
        <a class="anchor-default" href="{% url 'post-detail' post.id %}">
            <div class="h5 font-weight-bold related-article-name">{{ post.title }}</div>
        </a>
        <div class="related-article-content">{{ post.content | truncatechars:'300'}}</div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}

{% block navigation %}
<div class="d-flex justify-content-center">
    <div class="pagination p1">
      <ul>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="is-active" href="?page={{num}}"><li>{{ num }}</li></a>
            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                <a href="?page={{num}}"><li>{{ num }}</li></a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"><li>&raquo;</li></a>
        {% endif %}
      </ul>
    </div>
  </div>
{% endblock navigation %}