{% extends 'posts/posts_base.html' %}

{% block title %} Tag View {% endblock %}

{% block content %}
<div class="d-flex flex-column mt-4">
    <div class="h3 font-weight-bold pb-2">Tag: {{ searched_tag }}</div>
    <div class="row">
      {% for post in posts_by_tag %}
          <div class="col-md-3">
              <div class="card mb-4 bg-light border-0">
                  <img class="rounded-20 img-fluid related-img"
                  src="{{ post.header_image.url }}">     
              </div>
          </div>
          <div class="col-md-9 mb-4">
          <div class="h5 font-weight-bold">
          <a class="anchor-default" href="{% url 'post-detail' post.id %}"> {{ post.title }}</a>
          </div>
          <p class="card-text">{{ post.content | truncatechars:250}}</p>
          </div>
        {% endfor %}
      </div>
</div>
{% endblock content %}

{% block navigation %}
  {% include 'posts/navigation.html '%}
{% endblock navigation %}