{% load static %}
{% load sidebar_items %}

<nav id="sidebar" class = "active">
    <div class="sidebar-header">
        {% get_user_meta 1 %}
        <div class = "row">
            <ul class = "list-unstyled social-sidebar">
                {% get_social 1 %}
            </ul>
        </div>
    </div>
    <hr class = "sidebar-hr">
    <ul class = "list-unstyled">
        {% get_menu %}
    </ul>
    <hr class = "sidebar-hr">
    <div class = 'copyright text-center'>
        © {% now "Y" %} Copyright. <span>All rights reserved.</span>
        <a href = "{{ request.get_host }}"> Jordan Raychev </a>
    </div>
</nav>