/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:root {
    --main-color: rgb(242, 243, 247);
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #000;
    transition: all 0.3s;
    background-color: var(--main-color);
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    /* padding: 20px; */
    /* padding: #top #right #bottom #left */
    padding: 30px 50px 30px 50px;
    background-color: var(--main-color);
    text-align: center;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    text-align: center;
}

#sidebar ul li a {
    position: relative; 
    display: inline-block;
    padding: 10px;   
}

#sidebar ul li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

#sidebar ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

#sidebar ul li a.active:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

/* #sidebar ul li a.active {
    border-bottom: 2px solid;
    border-color: red; 
} */

/* 
    Image is resized by the backend when uploaded.
    In case that the image is bigger resize it to
    the width and height specified below.
*/
.profile-img  {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.name {
    font-size: 1.1em;
}

.profession {
    font-size: 1em;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}