/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:root {
    --main-color: rgb(242, 243, 247);
    --main-color-darker: rgb(230, 230, 230);
    --blue-color: #2c98f0;
    --white-color: #ffffff;
    --red-color: #ec5453;
    --yellow-color: #f9bf3f;
    --green-color: #2fa499;
    --purple-color: #a84cb8;
    --border-color: rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background-color: var(--main-color);
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px var(--border-color);
    height: 70px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #000;
    transition: all 0.75s;
    background-color: var(--main-color);
    margin-left: -250px;
}

#sidebar.active {
    margin-left: 0px;
}

.sidebar-header {
    padding: 30px 50px 30px 50px;
    background-color: var(--main-color);
    text-align: center;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    text-align: center;
}

#loggedin {
    padding-left: 0px;
}

#sidebar ul li a,
.main-navbar li a {
    position: relative; 
    display: inline-block;
    padding: 10px;   
}

#sidebar ul li a:after,
.main-navbar li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    /* background-color: #0087ca; */
    background-color: var(--blue-color);
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

#sidebar ul li a:hover:after,
.main-navbar li a:hover:after  {
    transform: scaleX(1);
    transform-origin: bottom center;
    cursor: pointer;
}

#sidebar ul li a.active:after,
.main-navbar li a.active:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}
/* 
    Image is resized by the backend when uploaded.
    In case that the image is bigger resize it to
    the width and height specified below.
*/
.profile-img  {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.name {
    font-size: 1.1em;
}

.profession {
    font-size: 1em;
} 

#sidebarCollapse{
    min-width: 40px;
    height: 40px;
    background-color: var(--main-color);
    /* background-color: red; */
    position: relative;
    transform: rotate(-45deg);
    margin-left: -20px;
    margin-top: 35px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

#sidebarCollapse:hover {
    cursor: pointer;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    bottom: 9px;
    right: 9px;
}

.right {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.left {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.heading-meta {
    margin-bottom: 15px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: #999999;
    font-weight: 500;
    letter-spacing: 5px;
}

.heading {
    font-size: 18px;
    margin-bottom: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
    position: relative;
}

/* .control-label {
    visibility: hidden;
} */

/* Contact page form */
.controls input, textarea {
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    border: 1px solid var(--border-color);
	box-shadow: 0px 0px 5px -4px var(--border-color);
}

/* Contact page form */
.social-box {
    width: 75px;
    height: 75px;
    background-color: var(--main-color);
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
	box-shadow: 0px 0px 5px -4px var(--border-color);
}

.social-icons {
    width:2em;
    height:2em;
}

.social-text {
    padding-left: 20px;
}

.social-box-animate {
    /* position: relative; */
    opacity: 0; 
    left: -5%;
}

.contact-form-animate {
    opacity: 0;
    right: -5%;
}

/* EDUCATION PAGE */

.timeline-box {
	width: 762px;
	background-color: var(--main-color);
	padding: 1.5em;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px -4px rgba(0, 0, 0, 1);
	margin-bottom: 1em;
    opacity: 0;
    margin-left: 10%;
}

.timeline-box h4 {
    font-size: 1.25em;
    font-weight: 400;
}

.timeline-box h4 span {
    padding-left: 10px;
    opacity: 0.5;
    font-size: 0.75em;
}

.timeline-box p {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color:rgba(0, 0, 0, 0.5);
}

.timeline-circle {
    width: 50px;
    height: 50px;
    background-color: var(--blue-color);
    margin-right: 35px;
    text-align: center;
    line-height: 47px;
    border: 3px solid var(--main-color-darker);
    position: relative;
    margin-bottom: 50px;
    bottom: -500px;
}

.timeline-container {
    position: relative;
}

.timeline-container:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background-color: var(--main-color);
    margin-left: 7.5px;
    height: 100%;
}

/* If you want to add a final circle in the timeline uncomment this class */
/* .timeline-container:after {
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    border: 3px solid var(--main-color-darker);
    background-color: var(--blue-color);
    bottom: 0;
    border-radius: 50% !important;
    margin-left: -15px;
} */

.education-cap {
    font-size: 1.25em;
    color: var(--white-color);
}

.fadeInUp-1 {
    background-color: var(--red-color);
}
.fadeInUp-2 {
    background-color: var(--green-color);
}
.fadeInUp-3 {
    background-color: var(--blue-color);
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 992px) {

    .navbar {
        height: inherit;
    }

    #loggedin {
        padding-left: 10px;
    }

    .contact-form-animate {
        margin-left: -15px;
    }

    .timeline-circle {
        visibility: hidden;
    }
    .timeline-container:before {
        visibility: hidden;
    }
} 
