/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:root {
    --main-color: rgb(242, 243, 247);
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    height: 70px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #000;
    transition: all 0.75s;
    background-color: var(--main-color);
    margin-left: -250px;
}

#sidebar.active {
    margin-left: 0px;
}

.sidebar-header {
    padding: 30px 50px 30px 50px;
    background-color: var(--main-color);
    text-align: center;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    text-align: center;
}

#loggedin {
    padding-left: 0px;
}

#sidebar ul li a,
.main-navbar li a {
    position: relative; 
    display: inline-block;
    padding: 10px;   
}

#sidebar ul li a:after,
.main-navbar li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

#sidebar ul li a:hover:after,
.main-navbar li a:hover:after  {
    transform: scaleX(1);
    transform-origin: bottom center;
    cursor: pointer;
}

#sidebar ul li a.active:after,
.main-navbar li a.active:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}
/* 
    Image is resized by the backend when uploaded.
    In case that the image is bigger resize it to
    the width and height specified below.
*/
.profile-img  {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.name {
    font-size: 1.1em;
}

.profession {
    font-size: 1em;
} 

#sidebarCollapse{
    min-width: 40px;
    height: 40px;
    background-color: var(--main-color);
    /* background-color: red; */
    position: relative;
    transform: rotate(-45deg);
    margin-left: -20px;
    margin-top: 35px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

#sidebarCollapse:hover {
    cursor: pointer;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    bottom: 9px;
    right: 9px;
}

.right {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.left {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.heading-meta {
    margin-bottom: 15px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: #999999;
    font-weight: 500;
    letter-spacing: 5px;
}

.heading {
    font-size: 18px;
    margin-bottom: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
    position: relative;
}

/* .control-label {
    visibility: hidden;
} */

.controls input, textarea {
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 992px) {

    .navbar {
        height: inherit;
    }

    #loggedin {
        padding-left: 10px;
    }
} 
