/* Creates the search field a bit more wider */
.form-control-search {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    padding-left: 25px;
}


.navbar-brand {
    color: black;
}

.rounded {
    border-radius: 0.5rem !important;
}

.card-body {
    padding-left: 1px;
}

/* PAGINATION STYLES */
.pagination {
    padding: 30px 0;
}
    
.pagination ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination a {
    display: inline-block;
    padding: 10px 18px;
    color: #222;
}

.p1 a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
}

.p1 a.is-active {
    background-color: #4285f4;
    border-radius: 100%;
    color: #fff;
}

.list-group-item {
    padding: 10px 0px 0px 0px;
    border: 0px;
}

.list-group-item a {
    color: black;
}

.topic * {
    margin-right: 0.5rem;
}

/* Styles for single page */
.article-content {
    font-size: 1.25rem;
}
.empty-space-100 {
    height: 100px;
    background-color: transparent;
}

.empty-space-50 {
    height: 50px;
    background-color: transparent;
}

.anchor-default,
.anchor-default:hover {
    text-decoration: none; 
    color: black;
}

.featured-img {
    max-width: 100%;
    height: 425px;
    object-fit: cover;
}

/* Override img-fluid bootstrap */
.all-post-img {
    object-fit: cover;
    height: 225px;
}

.related-img,
.cat-tag-img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
}

.rounded-20 {
    border-radius: 20px;
}

@media only screen and (max-width: 768px) {
    .brand {
        text-align: center;
        padding-bottom: 1rem;
    }

    .footer-1,
    .footer-2,
    .footer-3,
    .footer-4 {
        text-align: center;
    }
}

@media only screen and (max-width: 992px) {
    .aside {
        margin-top: 1.5rem !important;
    }
}
