{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Projects {% endblock %}

{% block content %}

<div class = "row">
    <div class = "col-sm-12">
        <span class="heading-meta">Projects</span>
        <h2 class="heading">What I've been working on</h2>
    </div>
</div>
<div class = "container-fluid">
    <div class = "row page-desc">
        <div class = "col-xl-10">
            <p class = "text-center">
                Welcome to my online portfolio. Here you will find all recent projects that I have been working on.
                If you are interested in working with me I am open for freelance work at the moment, just click
                the button below and contact me.
            </p>
            <a href = "{% url 'contact' %}"> 
            <button type="submit" class="btn btn-block btn-primary" style = "width: 125px; margin: auto; font-weight: bold;">Hire me</button>
            </a>
        </div>
    </div>
    <div class="row work-row">
        {% for project in projects %}
        <div class = "col-xl-5">
            <div class = "work-box">
                <div class = "overlay-box">
                    <a href = "{{ project.project_homepage }}"> <i class="fas fa-eye"></i> Visit project </a>
                </div>
                    <div class = "row"> 
                        <div class = "col-xl-5">
                            <img src="{{ project.project_image.url }}">
                        </div>
                        <div class = "col-xl-7">
                            <div class = "work-details">
                                <p class = "work-heading"> {{ project.project_name }} </p>
                                <p class = "work-desc"> 
                                    {{ project.project_description }}
                                </p>
                                <p class = "work-client"> Client: {{ project.project_client }} </p>
                            </div>
                        </div> 
                    </div>       
                </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}