{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Services {% endblock %}

{% block content %}

<div class = "row">
    <div class = "col-sm-12">
        <span class="heading-meta">Services</span>
        <h2 class="heading">What I Do</h2>
    </div>
</div>
<div class = "container-fluid">
    <div class="row service-row">
        <div class = "col-xl-9">
            <p class="text-center">
                I have 5+ years of in IT industry field as a network and system engineer. In recent years I am more focused 
                on the software side of things. You can take a look at my project portfolio and online resume to find out more about my skills and experiences.
                I'm currently taking on freelance software development work. 
                You're welcome to contact me for a custom quote for your project.
            </p>
            <div class = row>
                {% for service in services %}
                <div class = "col-xl-4">
                    <div class = "service-box" style = "border-bottom: 3px solid {{ service.service_color }};">
                        <div class = "service-icon" style="background-color: {{ service.service_color }};">
                            <i class=" {{ service.service_icon}} "></i>
                        </div>
                        <div class = "service-headline">
                            <p> {{ service.service_name }}</p>
                        </div>
                        <div class = "service-desc">
                            <p>{{ service.service_description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}