{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Services {% endblock %}

{% block content %}

<div class = "row">
    <div class = "col-sm-12">
        <span class="heading-meta">Skills</span>
        <h2 class="heading">What I Do</h2>
    </div>
</div>
<div class = "container-fluid">
    <div class="row">
        <div class = "container-text">
            <p> 
                Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. 
                Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.
            </p>
        </div>
    </div>
    <div class="row progress-row">

        <div class = "col-xl-6 floatLeft">
            <div class = "progress-box">
                <div class="flex-box">
                    <span class = "skill-name">Python <i class="fab fa-python"></i> </span>
                    <span class = "skill-percent">75%</span>
                </div>
                <div class = "progress-full"> 
                    <div class = "progress-active">
                    </div>
                </div>
            </div>
        </div>
        <div class = "col-xl-6">
            <div class = "progress-box">
                <div class="flex-box">
                    <span class = "skill-name">SQL Databases <i class="fas fa-database"></i></span>
                    <span class = "skill-percent">44%</span>
                </div>
                <div class = "progress-full"> 
                    <div class = "progress-active">
                    </div>
                </div>
            </div>
        </div>
        <div class = "col-xl-6">
            <div class = "progress-box">
                <div class="flex-box">
                    <span class = "skill-name">Javascript & jQuery <i class="fab fa-js-square"></i></span>
                    <span class = "skill-percent">67%</span>
                </div>
                <div class = "progress-full"> 
                    <div class = "progress-active">
                    </div>
                </div>
            </div>
        </div>
        <div class = "col-xl-6">
            <div class = "progress-box">
                <div class="flex-box">
                    <span class = "skill-name">HTML & CSS <i class="fab fa-html5"></i> <i class="fab fa-css3-alt"></i></span>
                    <span class = "skill-percent">87%</span>
                </div>
                <div class = "progress-full"> 
                    <div class = "progress-active">
                    </div>
                </div>
            </div>
        </div>
        <div class = "col-xl-6">
            <div class = "progress-box">
                <div class="flex-box">
                    <span class = "skill-name">Linux <i class="fab fa-linux"></i></span>
                    <span class = "skill-percent">55%</span>
                </div>
                <div class = "progress-full"> 
                    <div class = "progress-active">
                    </div>
                </div>
            </div>
        </div>
        <div class = "col-xl-6">
            <div class = "progress-box">
                <div class="flex-box">
                    <span class = "skill-name">Computer networking <i class="fas fa-network-wired"></i></span>
                    <span class = "skill-percent">55%</span>
                </div>
                <div class = "progress-full"> 
                    <div class = "progress-active">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}