{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Contact me {% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}


<div class = "row">
    <div class = "col-sm-12">
        <span class="heading-meta">Contact</span>
        <h2 class="heading">Contact me</h2>
    </div>
</div>
<div class = "container-fluid">
    <div class = "row">
        <div class = "col-sm-4 social-box-animate">
            <div class = "row">
                <div class = "social-box d-flex justify-content-center align-items-center">
                    <a href = "mailto: jpraychev@gmail.com">
                        <img class = "social-icons" src = "{% static 'icons/envelope.svg' %}"> </img>
                    </a>
                </div>
                <div class = "d-flex justify-content-center align-items-center social-text">
                    <a href = "mailto: jpraychev@gmail.com"> jpraychev@gmail.com </a>
                </div>
            </div>

            <div class = "row">
                <div id = "test" class = "social-box d-flex justify-content-center align-items-center">
                    <a href = "https://www.linkedin.com/in/jordan-raychev-5a69a691/">
                        <img class = "social-icons" src = "{% static 'icons/linkedin.svg' %}"> </img>
                    </a>
                </div>
                <div class = "d-flex justify-content-center align-items-center social-text">
                    <a href = "https://www.linkedin.com/in/jordan-raychev-5a69a691/"> LinkedIn</a>
                </div>
            </div>
            
            <div class = "row">
                <div class = "social-box d-flex justify-content-center align-items-center">
                    <a href = "https://twitter.com/jpraychev">
                        <img class = "social-icons" src = "{% static 'icons/twitter.svg' %}"> </img>
                    </a>
                </div>
                <div class = "d-flex justify-content-center align-items-center social-text">
                    <a href = "https://twitter.com/jpraychev"> Twitter</a>
                </div>
            </div>

            <div class = "row">
                <div class = "social-box d-flex justify-content-center align-items-center">
                    <a href = "https://jpraychev.medium.com/">
                        <img class = "social-icons" src = "{% static 'icons/medium.svg' %}"> </img>
                    </a>
                </div>
                <div class = "d-flex justify-content-center align-items-center social-text">
                    <a href = "https://jpraychev.medium.com/"> Medium</a>
                </div>
            </div>
        </div>


        <div class = "col-sm-6 contact-form-animate">
                <form method="post" class = "control-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
        </div>
    </div>
</div>
{% endblock %}